/* map container dimensins (explicit) */
#map{
	height:550px;
	width: 100%;
}


  .legend
    {
      background:white;
      line-height:1.5em;
      padding: 3%;
    }

 .legend i
    {
      width:5em;
      float:left;
      
    }