body{
  margin:0;
  padding:0;
  font-family:Lucida,Times,sans-serif;
  font-size:2vh;
}
.container-fluid{
  margin:0;
  padding:0;
  overflow:hidden;
}
.head{
  background-color:green;
  width:100%;
  height:auto;
  padding:1%;
  text-align:center;
}

.head span{
  float:left;
  width:45px;
  height:45px;
  margin:2%;
  border:2px solid black;
  border-radius:6px;
}

h3{
 font-size:2em;
 color:white;
 /*font-family:'Times New Roman',sans-serif;*/
}

#map{
  height:80vh;

}

#changeColor{
  z-index: 2;
  position: absolute;
  height: 4rem;
}

.control{
  border:2px solid gold;
  height:auto;
  padding:1%;
}

.pic{
  height:37.5vh;
  width:100%;
  text-align:left;
  border-bottom:1px solid gold;
  overflow: hidden;
}

.vid{
  height:37.5vh;
  width:100%;
  text-align:left;
  overflow: hidden;
  color: black;
}

.vid img{
  height: 50%;
  width: 80%;
}

#carousel1{

   overflow: hidden;
 }


h4{
  font-size:1.2em;
  font-family:"Times New Roman",sans-serif;
}

section{
  text-align:center;
  color:red;
}
